In [1]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [2]:
s=0
s+=1
s+=2
s+=3
s+=4
s+=5

s

15

In [4]:
s=0
for x in [1,2,3,4,5]:
    s=s+x
    
s

15

リストの各要素をｘという(仮の)名前をつけて取り出す。

In [13]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
　   print(val)

SyntaxError: invalid character in identifier (<ipython-input-13-9c545ad83bcb>, line 4)

In [9]:
s=0

for x in list_tohoku:
    s += x
    
s

NameError: name 'list_tohoku' is not defined

In [15]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [16]:
s=0

for x in list_tohoku:
    s += x
    
s

32042

In [17]:
s/6

5340.333333333333

In [18]:
s/len(list_tohoku)

5340.333333333333

In [19]:
s

32042

In [21]:
s/=6

In [22]:
s

5340.333333333333

In [25]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [26]:
from statistics import *

In [27]:
mean(list_shikoku)

2890.5

In [28]:
a={'Apple':100,'Orange':150,'Grape':200}

In [29]:
a['Apple']

100

In [31]:
s = 0

for x in a:
    s += a[x]
    
s/len(a)

150.0

In [32]:
a

{'Apple': 100, 'Grape': 200, 'Orange': 150}

In [33]:
a.values()

dict_values([100, 150, 200])

In [34]:
mean(a.values())

150

In [35]:
s = 0
for x in a.values():
    s+=x
s/len(a)

150.0

In [37]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [38]:
a=[1,2,3,4,5]

In [39]:
avg = mean(a)

In [40]:
avg

3

In [41]:
b=[(1-3)**2,(2-3)**2,(3-3)**2,(4-3)**2,(5-3)**2]

In [42]:
b

[4, 1, 0, 1, 4]

In [43]:
mean(b)

2

In [44]:
var=mean(b)
var

2

In [45]:
stdev=var**0.5
stdev

1.4142135623730951

In [53]:
a = [1,2,3,4,5]

s =0
for x in a:
    s+= x

avg=s/len(a)

s=0
for x in a:
    s += (x-avg)**2
    
v=s/len(a)
v**0.5

1.4142135623730951

In [54]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

s = 0
for x in a:
    s+=x
    
avg=s/len(a)

s=0
for x in a:
    s+=(x-avg)**2
    
v=s/len(a)
v**0.5

5.766281297335398